<!DOCTYPE html>
<html>
   <head>
       <style>
       </style>
   </head> 
<body>
<h1 align="center">Component Directives </h1>
<div [ngStyle]="{'font-size.px':24}">
    <p>Component Directives: It forms the main class and is declared by @Component. It contains the details on component processing, instantiated and usage at run time.</p>
    <p>  There are three parameters discussed below:<br><br> 
        <b>Selector:</b> Tells the template tag which specifies the beginning and end of the component.
        <br><br><b>templateURL:</b> Consists of the template used for the component.
        <br><br><b>styleUrls:</b> It is of array type which consists of all the style format files used for the template</p>
        <br>
    </div>      
</body>
</html>